<h1>Alliances in <a href="https://politicsandwar.com/">Politics and War</a></h1>
<i>Imported directly from the PnW API</i>
<hr>
<form method="post" action="/alliances">
    Enter an alliance to look at more closely. Note that spelling and capitalization <i>must</i> be correct.
    <input type="text" name="alliance">
    <input type="submit">
</form>

